<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start" style="margin-left: 1%;">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: fit-content;">
      <h1>Google Maps</h1>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/svg/maps.svg"
  style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 10%; margin-bottom: 10%">
</ion-img>
<ion-text>{{address}}</ion-text><br><br>
<strong>(This was not implemented)</strong>
</ion-content>
