<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-title class="titolo" style="width: fit-content;">
      <h1>Love MEnsa</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="" style="margin-top:25%; margin-bottom: 10%; width:100%; display: grid;">
    <ion-item mode="md">
      <ion-label>Username</ion-label>
      <ion-input placeholder="Enter Username" id="username"></ion-input>
    </ion-item>
    <ion-item mode="md" style="margin-bottom: 3%">
      <ion-label>Password</ion-label>
      <ion-input placeholder="Enter password" id="password"></ion-input>
    </ion-item>
    <label style="margin-left: 10%;">
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label><br>
    <ion-button style="width:100%; margin-top: 5%; " fill="solid" (click)="login()">
      <ion-text>Login</ion-text>
    </ion-button><br>
    <div style="margin-bottom: 30%; margin-top: 5%">
      <ion-text class="ion-text-center" style="margin-left: 30%; "><a href="#">Forgot password?</a> </ion-text>
    </div>
  </div>
  <hr style="width:50%;text-align:left;margin-left:0">
  <ion-item-divider style="margin-bottom: 5%"></ion-item-divider>
  <ion-text class="ion-text-center" style="text-align: center; margin-left:20%;">First time? Register here!
  </ion-text>
  <ion-button style="width:100%; margin-top: 5%;" fill="solid" (click)="signUp()">
    <ion-text>Sign Up</ion-text>
  </ion-button>

</ion-content>