<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start" style="margin-left: 1%;">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: fit-content;">
      <h1 style="color: rgb(0, 255, 0);">Love <strong style="color: rgb(255, 0, 0);">ME</strong>nsa</h1>
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img src="assets/svg/qr.svg"
    style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 10%; margin-bottom: 10%">
  </ion-img>
  <div class="data_box ion-text-center ion-margin-bottom" style="width: 80%; margin-left: auto; margin-right: auto;">
    <ion-text>
      <h5 style="color: green;" class="ion-text-center">Show the QR Code to the Cashier</h5>
    </ion-text>
    <ion-text>
      <h6 class="ion-text-center">You will pay using: </h6>
      <h6 style="color: red;" class="ion-text-center">{{option}}</h6>
    </ion-text>
  </div>
  <div class="ion-text-center ion-margin-bottom" *ngIf="option=='Cash/Pos'"
    style="border-style: solid;  border-radius: 25px; border-color: green; background-color: white; width: 80%; margin-left: auto; margin-right: auto;">
    <ion-text>
      <h6 class="ion-text-center">When you pay using the Cash option, you can also ask the cashier to add your
        change directly to your wallet</h6>
    </ion-text>
    <ion-text>
    </ion-text>
  </div>
</ion-content>